@layer theme, base, antd, components, utilities;

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /*Brand Colors*/
    --color-primary: #1677ff;
    --color-secondary: #414651;
    --color-error: #ff4d4f;
    --color-warning: #faad14;
    --color-success: #52c41a;
    --color-background: #FFFFFF;
    --color-foreground: #181D27;
    --color-divider: #E5E7EB;
    --color-layout: #f5f5f5;

    /*Fonts*/
    --font-sans: 'Be Vietnam Pro', sans-serif;
}

@layer base {
    :root {
        @apply scheme-light bg-background text-foreground;
    }

    * {
        @apply font-sans;
    }

    .dark {
        /*Brand Colors*/
        --color-primary: #2E90FA;
        --color-secondary: #A4A7AE;
        --color-error: #ff4d4f;
        --color-warning: #d89614;
        --color-success: #32D583;
        --color-background: #000000;
        --color-foreground: #FFFFFF;
        --color-divider: #303032;
        --color-layout: #131315;

        @apply scheme-dark;
    }
}
